<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Quiz 1</h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
                title="Collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="remove"
                title="Remove"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            Question 1
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 1
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 2
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 3
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 4" />
                <label for="remember">
                  Answer 4
                </label>
              </div>
            </div>
          </div>
          <div class="card-body">
            Question 2
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 1
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 2
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 3
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 4" />
                <label for="remember">
                  Answer 4
                </label>
              </div>
            </div>
          </div>
          <div class="card-body">
            Question 3
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 1
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 2
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 2" />
                <label for="remember">
                  Answer 3
                </label>
              </div>
            </div>
            <div class="card-body">
              <div class="icheck-primary">
                <input type="checkbox" id="Answer 4" />
                <label for="remember">
                  Answer 4
                </label>
              </div>
            </div>
          </div>
          <div class="card-footer">
            Validate your Answers
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
