<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">

<div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong>Offers Dashboard    </strong>          
                      </div>    </div>
                      <a href="/offer" class="btn btn-app">
                        <i class="fas fa-save"></i> Add New Offer Manually
                        </a>
                        <div class="btn btn-app bg-warning">
                          <i class="fas fa-user-friends" type="button" (click)="bestOffType()"> Best Offer Type
                        </i>
                        </div>
                        <div class="btn btn-app bg-blue">
                          <i class="fas fa-user-astronaut" type="button" (click)="MostUsedOfferType()"> Most Used Offer 
                        </i>
                        </div>
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>ID </th>
    <th>Offer Name</th>
    <th>Offer Description</th>
    <th>Maximum offers</th>
    <th>Offer Order</th>
    <th>Other Options</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of offers; let i = index">
    <td>{{o.idOffer}}</td>
    <td>{{o.nameOffer}}</td>
    <td>{{o.descriptionOffer}}</td>
    <td><span class="badge bg-orange"><td>{{o.MaxOffers}}</td></span></td>
    <td><span class="badge bg-teal"><td>{{o.OffersNumber}}</td></span></td>
    <td>

      <a href="/offer" class="btn btn-small bg-info">
      <i class="fas fa-edit"></i>
      </a>
 <div class="btn btn-small bg-danger">
            <i class="fas fa-trash" type="button" (click)="DeleteOffers(o.idOffer)">
          </i>
          </div>
          <a href="/mail" class="btn btn-small bg-teal">
            <i class="fas fa-voicemail"></i> 
            </a>  
          
      
        </td>
    
    </tr>

    
                                                                                                                                                                                        
    </table>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </section>
    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
      </script>
  
