.login-page, .register-page {
    align-items: center;
    background-color: #343a40;
    background-image: url(../../assets/img/work.jpg);
 
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}