<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
    <strong>Quiz Dashboard    </strong>          
              </div>
    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    <div class="input-group-append">
    <button type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    <a href="/quiz" class="btn btn-app">
        <i class="fas fa-save"></i> Add New Event Manually
        </a>
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>ID</th>
    <th>Quiz</th>
    <th>Quiz Date</th>
    <th>Best score</th>
    <th>Worst score</th>
    <th>Other Options</th>
    <th>Score</th>
   
    </tr>
    </thead>
    <tbody>
    <tr>
        <tr *ngFor="let q of quizes; let i =index">
            <td>{{q.id}}</td>
            <td>{{q.name}}</td>
            <td>{{q.description}}</td>
            <td><span class="badge bg-indigo">{{q.bestScore}}<b style="font-size: 5px; color:aqua">/20</b></span></td>
    <td><span class="badge bg-teal">{{q.worstScore}}<b style="font-size: 5px; color:darkblue">/20</b></span></td>
<td>
    
    <a  class="btn btn-small bg-info">
    
        <i class="fas fa-edit"  type="button" (click)="openDialog()"></i>
    </a>
        <a href="#" class="btn btn-small bg-danger">
            <i class="fas fa-trash"></i> 
            </a>
            <div class="form-group">
                <div class="btn btn-default btn-file">
                <i class="fas fa-paperclip"></i> Attachment
                <input type="file" name="attachment">
                </div>
                <p class="help-block">Max. 32MB</p>
                </div>
                
                </td>
                <td>
                    <a href="/quizdash" class="btn btn-small bg-gradient-indigo">
                        <i class="fas fa-file-signature"></i> Your Score
                        </a> 
                </td>
</tr>
    
    
   
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>
    
