<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong>Partnerships  Dashboard    </strong>          
                      </div>    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    <div class="input-group-append">
    <button type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    <a href="/partnership" class="btn btn-app">
        <i class="fas fa-save"></i> Add New Partnership Manually
        </a>
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>ID</th>
    <th>Partnership Name</th>
    <th>Partnership Description</th>
    <th>Partnership Date</th>
    <th>Status</th>
    <th>Progress</th>
    <th>Other Options</th>
   
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>183</td>
    <td>Linkedin</td>
    <td>This Partnership will allow you to have access to LinkedIn skills</td>
    <td>21-03-2022</td>
    <td><span class="badge bg-warning">Pending</span></td>
    <td>
        <div class="progress progress-xs">
        <div class="progress-bar bg-warning" style="width: 70%"></div>
        </div>
        </td>
        <a href="#" class="btn btn-app bg-info">
            <i class="fas fa-edit"></i> Edit
            </a>
            <a href="#" class="btn btn-app bg-danger">
                <i class="fas fa-trash"></i> Delete
                </a>
        
    </tr>
               
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>
    
