<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong>Events Dashboard    </strong>          
                      </div>    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    <div class="input-group-append">
    <button type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    <div class="social-auth-links text-center mt-2 mb-3">
    
            <a href="/event" class="btn btn-app">
                <i class="fas fa-save"></i> Add New Event Manually
                </a>
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>ID</th>
    <th>Event Name</th>
    <th>Event Topic</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Max Attendance</th>
    <th>Status</th>
    <th>Progress</th>
    <th>Other Options</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of events">
    <tr *ngFor="let e of events; let i = index">
    <td>{{e.idEvent}}</td>
    <td>{{e.name}}</td>
    <td>{{e.eventTopic}}</td>
    <td>{{e.Description}}</td>
    <td>{{e.date}}</td>
    <td><span class="badge bg-teal">120 person</span></td>
    <td><span class="badge bg-warning">Pending</span></td>
    <td>
        <div class="progress progress-xs">
        <div class="progress-bar bg-warning" style="width: 70%"></div>
        </div>
        </td>
        <a href="/event" class="btn btn-app bg-info">
            <i class="fas fa-edit"></i> Edit
            </a>
            <a href="#" class="btn btn-app bg-danger">
                <i class="fas fa-trash"></i> Delete
                </a>
        <td>
        <a href="/event" class="btn btn-app bg-info">
            <i class="fas fa-edit"></i> Edit
            </a>
            <a href="/eventsdash">
                <button type="button" (click)="DeleteEvents(e.idEvent, i )" class="btn btn-danger">Supprimer</button>
              </a> 
            </td>
    </tr>
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>
    
