<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
    <strong>Quiz Dashboard    </strong>          
              </div>
    <div class="card-tools">
    <div class="input-group input-group-sm" style="width: 150px;">
    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    <div class="input-group-append">
    <button type="submit" class="btn btn-default">
    <i class="fas fa-search"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    
    <div class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
    <th>Quiz</th>
    <th>Quiz Date</th>
    <th>Answer Quiz</th>
    <th>Print Data</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
<tr>
    <td>Quiz Linkedin</td>
    <td>11-02-2022</td>
    <td>
    <a href="/takeQuiz" class="nav-link">
        <i class="far fa-question-circle nav-icon"></i>
        <p>Take Quiz </p>
      </a>
    </td>
    <td>
        <i  class="far fa-file-pdf nav-icon"></i></td>
</tr>
    
   
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>
    
