<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">

<div class="card">
    <div class="card-header">
        <div class="card-body" style="font-size: 20px;"class="card bg-teal" align="center">
       
            <strong> Monthly statistics    </strong>          
                      </div>    </div>
    <div class="card-body">
        <div class="btn btn-app bg-warning">
            <i class="fas fa-user" type="button" (click)="MostLoyal()"> Most Loyal user
          </i>
          </div>

          <div class="btn btn-app bg-success">
            <i class="fas fa-mobile" type="button" (click)="bestOffType()"> Best Offer Type
          </i>
          </div>
          <div class="btn btn-app bg-blue">
            <i class="fas fa-mobile" type="button" (click)="MostUsedOfferType()"> Best Offer Type
          </i>
          </div>
          <div class="btn btn-app bg-danger">
            <i class="fas fa-clock" type="button" (click)="RemainingDays(events.idEvent)">Remaining Days 
          </i>
          </div>
    
                                                                                                                                                                                        
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </section>

